<template>
  <div id="app" class="h100">
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>
<script>

export default {
  components:{
  },
  name: "app",
  data(){
    return{

    }
  },
  computed:{

  },
  watch:{

  },
  mounted(){

  },
  created(){

  },
  beforeDestroy(){

  },
  methods:{
    
  }
};
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>